CONFIG_FEATURE_ROAM_DEBUG=y
CONFIG_TRACE_RECORD_FEATURE=y
CONFIG_WLAN_FEATURE_P2P_DEBUG=y
CONFIG_ENABLE_MTRACE_LOG=y
CONFIG_WLAN_NUD_TRACKING=y
CONFIG_UNIT_TEST=y
CONFIG_QDF_TEST=y
CONFIG_DESC_DUP_DETECT_DEBUG=y
